<% provide(:title, "Books by Authro") %>

<h1>All Books by Author</h1>


<% @books.each do |b| %>
<ul>
  <li><%= link_to b.title, book_path(b) %> By: <%= b.author_first %> <%= b.author_last %></li>
</ul>

<% end %>
