<%= provide(:title, "New Review") %>

<h1>New Review</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/shared/error_messages', holder: @review %>
    <%= render 'layouts/form' %>
  </div>
</div>
