<footer class="footer">
  <small>
    The <a href="/">Reader's Library Tracker</a>
    by <a href="http://tylermaxwell.info/tylermaxwell/" target="_blank">Tyler Maxwell</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://tylermaxwell.info/tylermaxwell/contact.html" target="_blank">Contact</a></li>
      <li><a href="http://tylermaxwell.info/tylermaxwell/contact.html" target="_blank">About</a></li>
      <li><a href="http://tylermaxwell.info/tylermaxwell/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
